
table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px #9c9c9c;
}

th {
    background-color: #dedede;
}

p.member {
    margin: 0 10px;
}

.radio-option:hover {
    background-color: #ccc;
}
.radio-option label {
    display: block;
}
input:checked + span {
    background-color: rgba(0, 181, 255, 0.38);
}
table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px #9c9c9c;
    padding: 0px 10px;
}

th {
    background-color: #dedede;
}
.dislike {
    color: #888;
}

.like {
    color: #636363;
    font-weight: bold;
}

.verylike {
    /*color: #00219c;*/
    font-weight: bold;
}

.cant {
    color: #888;
}

.menu {
    padding: 5px 15px;
    margin: 5px 5px;
}


/* opinions: */

.DESIRED {
    background-color: rgba(0, 255, 0, 0.25);
}
.DESIRED .stars {
    color: rgb(0, 127, 0);
}
.ACCEPTABLE {
    background-color: rgba(0, 0, 255, 0.12);
}
.UNACCEPTABLE {
    background-color: rgba(255, 0, 0, 0.25);
}

.rate0 {
    background-color:  rgba(0, 0, 0, 0.0);
}

.rate1 {
    background-color:  rgba(0, 0, 0, 0.07);
}

.rate2 {
    background-color:  rgba(0, 0, 0, 0.0);
}

.rate3 {
    background-color:  rgba(0, 0, 0, 0.07);
}

.rate4 {
    background-color:  rgba(0, 0, 0, 0.0);
}

.rate5 {
    background-color:  rgba(0, 0, 0, 0.07);
}
form.mini-form {
    padding: 0;
    margin: 0 -5px 0 0;
    display: inline;
}
.rating-button {
    padding: 0 5px;
    border: solid 1px #ccc;
    background-color: #fff;
    font-family: "Courier New", monospace;
}
.left-round {
    margin: 0 0 0 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right-round {
    margin: 0 0 0 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

td.opinions {
    padding: 0;
}

.stars {
    padding-left: 5px;
}